@model Department
<form action="\Department\saveupdate\@Model.Id" method="post">
    <div>
        <input asp-for="Id" type="hidden" />
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        
        <label asp-for="Manager"></label>
        <input asp-for="Manager" class="form-control"/>
    </div>

    <input type="submit" value="Update" class="btn btn-success" />
</form>
@section Scripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js">
    </script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js">
    </script>

}